.card{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex; 
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px ;
    align-items: flex-start;
    height: 100px;
    justify-content: space-between;
    font-size:small;
}

.card .selected {
    align-self: center;
}

.card .right{
    align-self: center;
    padding: 10px;
    margin: 30px;
}

.card-logo{
    padding: 10px;
}
.card-content{
    color:rgb(0, 0, 0);
}

.card-right{
    position: absolute;
    right: 260px;
    padding: 10px;
    
}
.card-count{
    color:rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(46, 55, 139);
    padding: 10px;
}